@import "./variable";

html,
body {
  background-color: #f6f6f6;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carousel {
  width: 100%;
  height: 600px;
  div {
    width: 100%;
    height: 100%;
    .header {
      position: absolute;
      transform: translate(100px, 100px);
      z-index: 1;
      h1 {
        color: #fff !important;
        text-transform: uppercase;
      }
      p {
        color: #fff !important;
        font-size: large;
      }
      button {
        margin-left: 50px;
        width: 193px;
        height: 44px;
        border-radius: 20px;
        background-color: #d61c62;
        color: #fff;
      }
      button:hover {
        background-color: #018ae0;
      }
    }
  }
  img {
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
  }
}

.about-us {
  margin: 30px 300px;
  div {
    padding-right: 50px;
    h1 {
      font-weight: 500;
    }
    p {
      font-size: 1rem;
    }
  }
  img {
    width: 100%;
  }
}

.services {
  height: 450px;
  margin: 30px 300px;
  margin-top: 150px;
  .service {
    padding: 0 10px 30px;
    border: 1px solid transparent;
    border-radius: 25px;
    height: 350px;
    background-color: #fc0 !important;
    background-image: url(https://hanoipetadoption.com/Images/patterns/pattern3.png);
    background-position: center bottom;
    background-repeat: repeat-x;
    div.content {
      text-align: center;
      padding: 15px 20px 30px;
      margin-top: -80px;
      border-radius: 25px;
      background-color: #f6f6f6 !important;
      transition: 0.3s;
      h3 {
        text-transform: uppercase;
        color: #222;
        font-size: 1.3rem;
        font-weight: 700;
      }
      p {
        height: 50px;
        margin-bottom: 10px;
        font-size: 1rem;
        line-height: 1.6;
        font-weight: 400;
      }
      img {
        height: 160px;
        border: 10px solid #fff;
        border-radius: 50%;
        margin-bottom: 40px;
        transition: 0.3s;
      }
    }
    .content:hover {
      box-shadow: 0 0 25px rgba(15, 1, 1, 0.6);
      img {
        transform: scale(1.1) rotate(10deg);
      }
    }
    .text-center {
      text-align: center;
      margin-top: 20px;
      button {
        width: 60%;
        height: 40px;
        background-color: #d61c62;
        color: #fff;
        border-radius: 25px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    // button {
    //   width: 50%;
    //   margin: auto;
    // }
  }
}

.adobt-page-header {
  background-size: 101.388%;
  background: url("https://hanoipetadoption.com/Images/jumbotron/jumbotron-adopt.jpg");

  background-position: center center;
  height: 212px;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    background: rgba(0, 0, 0, 0.35);
    pointer-events: none;
    height: 212px;
  }

  .adobt-heading-container {
    margin: 30px 450px;
    color: #fff;
    z-index: 1;
    h1 {
      color: #fff;
      font-size: 2.8125rem;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
    }
    div {
      width: 250px;
      background-color: #d61c62;
      padding: 7px;
      border-radius: 5px;
      text-align: center;
      .breadcrumb-item {
        transition: color 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
          color: #018ae0;
        }
      }
      .breadcrumb-active {
        color: #cecece;
      }
    }
  }
}

.adobt-page-content {
  padding-top: 40px;
  .process {
    padding-right: 15px !important;
    padding-left: 15px !important;
    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 2.125rem;
      color: #222;
      font-weight: 600;
      line-height: 1.1;
      text-transform: capitalize !important;
    }
    hr {
      margin-left: 0 !important;
      content: " ";
      display: block;
      width: 60px;
      margin: 10px auto;
      border: 1px solid #cecece;
      box-sizing: content-box;
      height: 0;
      overflow: visible;
    }
    p {
      text-align: justify !important;
      margin-top: 1.5rem !important;
      font-size: 1rem;
      line-height: 1.6;
      font-weight: 400;
      margin-bottom: 1rem;
      color: #6f6f6f;
    }
  }
  .condition {
    background-color: #f6f6f6 !important;
    display: block;
    border: 0;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    h5 {
      text-transform: capitalize;
      color: #222;
      font-family: "Montserrat", sans-serif;
      font-size: 1.3125rem;
      font-weight: 600;
    }
    ul {
      list-style: none;
      margin-bottom: 0;
      font-weight: 700 !important;
      padding-left: 0 !important;
      display: block;
      li {
        padding: 5px 0;
        font-size: 16px;
        line-height: 26px;
        padding: 5px 0;
        font-size: 16px;
        line-height: 26px;
        color: #6f6f6f;
        span {
          margin-left: 10px;
        }
      }
    }
  }
}

.volunteer-page-header {
  background-size: 101.388%;
  background: url("https://hanoipetadoption.com/Images/jumbotron/jumbotron-volunteer.jpg");

  background-position: center;
  background-size: cover;
  height: 212px;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    background: rgba(0, 0, 0, 0.35);
    pointer-events: none;
    height: 212px;
  }

  .volunteer-heading-container {
    margin: 30px 450px;
    color: #fff;
    z-index: 1;
    h1 {
      color: #fff;
      font-size: 2.8125rem;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
    }
    div {
      width: 250px;
      background-color: #d61c62;
      padding: 7px;
      border-radius: 5px;
      text-align: center;
      .breadcrumb-item {
        transition: color 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
          color: #018ae0;
        }
      }
      .breadcrumb-active {
        color: #cecece;
      }
    }
  }
}

.volunteer-page-content {
  padding-top: 40px;
  .process {
    padding-right: 50px !important;
    padding-left: 15px !important;
    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 2.125rem;
      color: #222;
      font-weight: 600;
      line-height: 1.1;
      text-transform: capitalize !important;
    }
    hr {
      margin-left: 0 !important;
      content: " ";
      display: block;
      width: 60px;
      margin: 10px auto;
      border: 1px solid #cecece;
      box-sizing: content-box;
      height: 0;
      overflow: visible;
    }
    p {
      text-align: justify !important;
      margin-top: 2rem !important;
      font-size: 1.2rem;
      line-height: 1.6;
      font-weight: 400;
      margin-bottom: 1rem;
      color: #6f6f6f;
    }
  }
  .condition {
    display: block;
    border: 0;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    h5 {
      text-transform: capitalize;
      color: #222;
      font-family: "Montserrat", sans-serif;
      font-size: 1.3125rem;
      font-weight: 600;
    }
    ul {
      list-style: none;
      margin-bottom: 0;
      font-weight: 700 !important;
      padding-left: 0 !important;
      display: block;
      li {
        padding: 5px 0;
        font-size: 16px;
        line-height: 26px;
        padding: 5px 0;
        font-size: 16px;
        line-height: 26px;
        color: #6f6f6f;
        span {
          margin-left: 10px;
        }
      }
    }
    img {
      border-radius: 5px;
    }
  }
}

.regis-container {
  background-image: url(https://hanoipetadoption.com/Images/adopt-calltoaction.png);
  background-position: top right;
  background-repeat: no-repeat;
  margin-top: 5%;
  margin: 100px 0px;
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;

  h4 {
    text-transform: capitalize;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    color: #222;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 400;
  }
  button {
    background-color: #018ae0;
    transition: all .2s ease-in-out;
    color: #fff!important;
    border: 0;
    font-size: 1rem;
    width: 250px;
    height: 50px;
    outline: none;
    letter-spacing: .2px;
    font-family: 'Montserrat',sans-serif;
    border-radius: 25px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
    white-space: normal;
    font-weight: bold;
    &:hover {
      background-color: #ffc107;
    }
  }
}
